

.header-banner {
	position: fixed;
	top: 0px;
	width: 100%;
	background-color: #111111;
	padding: 20px;
	height:100px;
}


.itinerary-box {
  background: #3b1923;
  border-radius: 25px;
  padding: 20px;
  margin: 10px;
  width: 100%;
}



.users-box {
	position: fixed;
  left: 70%;
  width: 25%;
	top: 125px;
  padding: 10px;
	margin-right:25px;
  border-radius: 20px;
	background-color: #3b1923;
}

.search-box {
  background: #222222;
  padding: 20px;
  margin: 10px;
	width:100%
}


.button, .new-event-button {
  border-radius: 20px;
  padding: 3px;
  padding-left: 8px;
  padding-right: 8px;
  margin: 3px;
	width: fit-content;
	font-family: Arial, Helvetica, sans-serif;

}


.new-event-button {
	position:fixed;
	left:25%;
	bottom:50px;
	font-size:20pt;
}

.name-bubble-not-interactive {
	user-select:none;
  background: #666666;
  border-radius: 20px;
  padding: 3px;
  padding-left: 12px;
  padding-right: 12px;
  margin: 3px;
	width: fit-content;
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;

}

.name-bubble-interactive {
  background: #666666;
  border-radius: 20px;
  padding: 3px;
  margin: 3px;
  padding-left: 12px;
  padding-right: 12px;
	width: fit-content;
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;

}
.name-bubble-interactive:hover {
  background: #777777;
}





.x-button {
  border: none;
	display: "inline-block";
	margin-left: 10px;
	padding-right:5px;
	padding-left:5px;
  border-radius: 20px;
	background-color: transparent;
}

.x-button:hover {
  background-color: #777777;
  color: white;
}


.body-scroll {
	margin-top:125px;
	margin-right:25px;
}